header{
    height:auto;
}

#home{
    font-size: 2.5rem;
}

nav{
    background-color: black;
    color: white;
    height: 4vh;
}
nav > ul{
    width: 100%
}

nav > ul >li
{
    all: unset;
}

nav >ul >li:hover{
    cursor: pointer;
}

nav a{
    all: unset;
    color: white;
}

main{
    height: 80vh;
}


.auth-options{
    width: 13rem;
}