#game{
    height: 100%;
    padding-top: 3rem;
}

#game-history{
    all: unset;
    display: flex;
    flex-direction: column-reverse;
}

.game-history-item{
    all: unset;
    
}

.guess-at{
    font-weight: 600;
}

.you-won{

}
.winning-combo{

}

.all-incorrect{
    color: red
}