#game{
    height: 100%;
    padding-top: 3rem;
}

#game-history{
    all: unset;
    display: flex;
    flex-direction: column-reverse;
}

.game-history-item{
    all: unset;
    
}

.guess-at{
    font-weight: 600;
}

.you-won{
    all: unset;
    font-size: 2rem;
    font-weight: 600;
    color: green;
}
.winning-combo{
    color: green
}

.all-incorrect{
    color: red
}