body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-center,
.flex-center-left,
.flex-center-right,
.flex-evenly,
.flex-between,
.justify-center,
.align-center,
.flex-row,
.flex-col{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.flex-center-left{
    justify-content: left;
}

.flex-center-right{
    justify-content: right;
}
.flex-between{
    justify-content: space-between;
 }

.flex-evenly{
    justify-content: space-evenly;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.cursor-events:hover{
    cursor: pointer;
}

.padding-default{
    padding-left: 2.75rem;
    padding-right: 2.75rem;
}

.debugger{
    border: solid 1px red;
}

button{
    cursor: pointer;
}